{% extends 'core/base.html.twig' %}

{% block body %}

<html>
<head>
	<title>Contact Us | Clothes Website</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	
	<main>
		<section id="address">
			<h2>Address</h2>
			<p>1234 Fashion Street<br>New York, NY 10001<br>USA</p>
		</section>
		<section id="call-center">
			<h2>Call Center</h2>
			<p>1-800-CLOTHES</p>
			<p>Our call center is open Monday to Friday from 9am to 5pm EST.</p>
		</section>
		<section id="email">
			<h2>Email</h2>
			<p><a href="mailto:support@clotheswebsite.com">support@clotheswebsite.com</a></p>
			<p>We aim to respond to all emails within 24 hours.</p>
		</section>
		<section id="sources">
			<h2>Sources</h2>
            <a href="https://dimemtl.com/fr">Dime</a><br>
            <a href="https://www.free-css.com/free-css-templates/page242/chamb">Source of the model</a>
		</section>
		<section id="note">
			<p>Please note that this website is not real and is solely for educational purposes as part of a homework assignment. It is not possible
			   to buy anything on the website because it's a school project and not an actual online store.</p>
		</section>
	</main>

</body>
</html>

{% endblock %}
